<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="../../assets/images/logo.png"></a><h3>Traveller.com</h3>
		<button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" [routerLink]="['/']">Home</a>
				</li>
				<ng-container *ngIf="!auth.isAuthenticated()">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/login']">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/register']">Register</a>
					</li>
				</ng-container>
				<ng-container *ngIf="auth.isAuthenticated()">
					<li class="nav-item">
							<a class="nav-link" [routerLink]="['/profile']">Profile</a>
					</li>
				</ng-container>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/about']">About</a>
				</li>
				<ng-container *ngIf="auth.isAuthenticated()">
					<li class="nav-item">
						<a style="cursor: pointer;" class="nav-link" (click)="logOut()">Sign Out</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color: white; background-color: #ed8d21; font-family: Courier; margin-left: 2em; border-radius: 0.5em;">{{auth.getUsername()}}</a>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
</nav>
