<app-navigation></app-navigation>
<router-outlet style="margin-bottom: 50%"></router-outlet>
<footer style="background-color: #bf5f33; color: white;">
        <div class="container-fluid padding" style="padding: 2.5%;">
            <div class="row padding">
                <div class="col-lg-3" style="text-align: center">
                    <h5 class="display5">Traveller.com</h5>
                    <hr>
                    <p>Questions</p>
                    <p>Salary Calculator</p>
                    <p>Help</p>
                </div>
                <div class="col-lg-3" style="text-align: center">			
                    <h5 class="display5">PRODUCTS</h5>
                    <hr>
                    <p>Teams</p>
                    <p>Talent</p>
                    <p>Enterprise</p>
                </div>
                <div class="col-lg-3" style="text-align: center">
                    <h5 class="display5">COMPANY</h5>
                    <hr>
                    <p>Press</p>
                    <p>Work Here</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="col-lg-3" style="text-align: center">
                        <h5 class="display5">Traveller Network</h5>
                        <hr>
                        <p>Blog</p>
                        <p>Life/Arts</p>
                        <p>Culture/Recreation</p>
                        <p>Science</p>
                        <p>Technology</p>
                    </div>
            </div>
        </div>
    </footer>

