<!--- Three Column Section -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-lg-3">
			<div>
				<img src="../../../assets/images/cairo.jpg" style="max-width: 150px">
				<h5>Cairo</h5>
				<p>Cairo, Egypt’s sprawling capital, is set on the Nile River. At its heart is Tahrir Square and the vast Egyptian Museum, a trove of antiquities including royal mummies and gilded King Tutankhamun artifacts.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<img src="../../../assets/images/dubai.jpg" style="max-width: 150px">
				<h5>Dubai</h5>
				<p>Dubai is a city and emirate in the United Arab Emirates known for luxury shopping, ultramodern architecture and a lively nightlife scene. Burj Khalifa, an 830m-tall tower, dominates the skyscraper-filled skyline.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<img src="../../../assets/images/manhattan.jpg" style="max-width: 150px">
				<h5>Manhattan</h5>
				<p>Manhattan is the most densely populated of New York City’s 5 boroughs. It's mostly made up of Manhattan Island, bounded by the Hudson, East and Harlem rivers.</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div>
				<img src="../../../assets/images/rio.jpg" style="max-width: 150px">
				<h5>Rio De Janeiro</h5>
				<p>Rio de Janeiro is a huge seaside city in Brazil, famed for its Copacabana and Ipanema beaches, 38m Christ the Redeemer statue atop Mount Corcovado and for Sugarloaf Mountain, a granite peak with cable cars to its summit.</p>
			</div>
		</div>
	</div>
</div>