<!--- Image Slider -->
<div class="container-fluid padding">
	<div class="row padding">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div id="slides" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#slides" data-slide-to="0" class="active"></li>
				<li data-target="#slides" data-slide-to="1"></li>
				<li data-target="#slides" data-slide-to="2"></li>
			</ul>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../../../assets/images/background1.jpg" style="max-height: 500px; margin-left: 6rem;" class="img-fluid">
			</div>
			<div class="carousel-item">
				<img src="../../../assets/images/background2.jpg" style="max-height: 500px; margin-left: 6rem;" class="img-fluid">
			</div>
			<div class="carousel-item">
				<img src="../../../assets/images/background3.jpg" style="max-height: 500px; margin-left: 6rem;" class="img-fluid">
			</div>
		</div>
	</div>
</div>

<!--2-->
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	    <div class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#slides" data-slide-to="0" class="active"></li>
				<li data-target="#slides" data-slide-to="1"></li>
				<li data-target="#slides" data-slide-to="2"></li>
			</ul>
		<div class="carousel-inner">
			<div class="carousel-item active" style="margin-right: 6 rem">
				<h1 class="display2">Manali</h1>
				<hr>
				<p class="lead">Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking center and honeymoon destination. Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking in Parvati Valley.</p>
				<button class="btn btn-primary btn-lg">Learn More</button>
			</div>
			<div class="carousel-item" style="margin-right: 6 rem">
				<h1 class="display2">Goa</h1>
				<p class="lead">Goa is a state in western India with coastlines stretching along the Arabian Sea. Its long history as a Portuguese colony prior to 1961 is evident in its preserved 17th-century churches and the area’s tropical spice plantations. </p>
				<button class="btn btn-primary btn-lg">Learn More</button>
			</div>
			<div class="carousel-item" style="margin-right: 6 rem">
				<h1 class="display2">Kerala</h1>
				<p class="lead">Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife.</p>
				<button class="btn btn-primary btn-lg">Learn More</button>
			</div>
		</div>	
	</div>
</div>
</div>
</div>